body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.ghuser-card {
  border: 1px solid grey;
  padding: 1%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.ghuser-card img {
  width: 200px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}
